.header {
  background-color: #7faff6;
  padding: 30px;
  margin-bottom: 15px;

  &__button {
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #a5c7f9;
    color: #ffffff;
    border: none;
    user-select: none;
    cursor: pointer;
  }
}
